* {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 15px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid red;
  background-color: var(--light-gray);
}

.container .card {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  background-color: var(--white);
}
